/*Josh Comeau Reset*/
* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Tilt Neon', sans-serif;
  text-align: center;
}
/*My CSS*/
.controls{
  border: 2px solid rgb(0, 0, 0);
  border-radius: .75rem;
  display: grid;
  justify-content: center;
  padding: .75rem;
  width: clamp(240px, 50%, 540px);
  gap: .5rem;
  margin: 2rem auto;
  grid-template-columns:1fr
}
input{
  padding: .75rem;
  width: 100%;
}
.input{
  display: grid
}

button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: .25rem;
}

.gameBoard{
    border: 4px solid rgb(99, 99, 99);
    border-radius: 1rem;
    padding: .25rem;
    width: clamp(240px, 50%, 540px);
    overflow: hidden;
    display: grid;
    gap: .25rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    transition: all 100ms ease-out;
}
.gamePiece{
    font-size: 48px;
    font-weight: 800;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(114, 114, 114);
    border-radius: .75rem;
    color: white;
    background-color: rgb(217, 217, 217);
    transition: all 100ms ease-out;
}
.activeGameBoard{
  border: 4px solid rgb(0, 0, 0);
  border-radius: 1rem;
  padding: .25rem;
  width: clamp(240px, 50%, 540px);
  overflow: hidden;
  display: grid;
  gap: .25rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.activeGamePiece{
  font-size: 48px;
  font-weight: 800;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(110, 110, 110);
  border-radius: .75rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
